name = "swift-complexity-web"
compatibility_date = "2024-12-01"

# Cloudflare Pages configuration
pages_build_output_dir = ".next"

[env.production]
name = "swift-complexity-web"
route = "swift-complexity.fummicc1.dev/*"

[env.production.vars]
NEXT_PUBLIC_API_URL = "https://api.swift-complexity.fummicc1.dev"
